Ridge Regression

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
diabetes = pd.read_csv("diabetes.csv")

In [4]:
diabetes

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,1,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,2,1,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,1,101.0,76.0,48.000000,180.000000,32.9,0.171,63,0
764,764,1,122.0,70.0,27.000000,79.799479,36.8,0.340,27,0
765,765,1,121.0,72.0,23.000000,112.000000,26.2,0.245,30,0
766,766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47,1
767,767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23,0

In [5]:
train, test = train_test_split(diabetes, test_size=0.2, random_state=1)

In [6]:
predictors = ["Age", "Insulin"]
target = "Outcome"

In [7]:
X = train[predictors].copy()
y = train[[target]].copy()

In [8]:
X

     Age     Insulin
663   40  130.000000
712   38   79.799479
161   45  105.000000
509   64   79.799479
305   29  105.000000
..   ...         ...
645   30  440.000000
715   34  392.000000
72    42   79.799479
235   26   79.799479
37    46   79.799479

[614 rows x 2 columns]

In [9]:
y

     Outcome
663        1
712        1
161        0
509        0
305        0
..       ...
645        0
715        1
72         1
235        1
37         1

[614 rows x 1 columns]

In [10]:
x_mean = X.mean()
x_std = X.std()

In [11]:
x_mean

Age         33.298046
Insulin    118.805604
dtype: float64

In [12]:
x_std

Age        11.810249
Insulin    94.286962
dtype: float64

In [17]:
X = (X - x_mean) / x_std

In [18]:
X

          Age   Insulin
663  0.567469  0.118727
712  0.398125 -0.413696
161  0.990830 -0.146421
509  2.599603 -0.413696
305 -0.363925 -0.146421
..        ...       ...
645 -0.279253  3.406562
715  0.059436  2.897478
72   0.736814 -0.413696
235 -0.617942 -0.413696
37   1.075503 -0.413696

[614 rows x 2 columns]

In [19]:
X["intercept"] = 1

In [20]:
X = X[["intercept"] + predictors]

In [21]:
X.describe()

       intercept           Age       Insulin
count      614.0  6.140000e+02  6.140000e+02
mean         1.0  2.256610e-16  9.257886e-17
std          0.0  1.000000e+00  1.000000e+00
min          1.0 -1.041303e+00 -1.100954e+00
25%          1.0 -7.872861e-01 -4.136958e-01
50%          1.0 -3.639251e-01 -4.136958e-01
75%          1.0  6.521416e-01  6.569727e-02
max          1.0  3.276980e+00  7.712566e+00

In [22]:
X.T

,663,712,161,509,305,426,13,480,682,607,...,508,749,583,129,144,645,715,72,235,37
intercept,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Age,0.567469,0.398125,0.990830,2.599603,-0.363925,-0.702614,2.176241,0.144108,-0.956631,-0.702614,...,-1.041303,1.414192,0.736814,2.430258,-0.871958,-0.279253,0.059436,0.736814,-0.617942,1.075503
Insulin,0.118727,-0.413696,-0.146421,-0.413696,-0.146421,-0.413696,7.712566,2.218699,-0.146421,-0.825200,...,-0.453993,-0.413696,-0.413696,-0.413696,1.752039,3.406562,2.897478,-0.413696,-0.413696,-0.413696

In [23]:
alpha = 2
I = np.identity(X.shape[1])
penalty = alpha * I

In [24]:
penalty

array([[2., 0., 0.],
       [0., 2., 0.],
       [0., 0., 2.]])

In [25]:
penalty[0][0] = 0

In [26]:
penalty

array([[0., 0., 0.],
       [0., 2., 0.],
       [0., 0., 2.]])

In [27]:
B = np.linalg.inv(X.T @ X + penalty) @ X.T @ y

In [37]:
B

    Outcome
0  0.346906
1  0.104871
2  0.088145